<% if Time.now.to_i < Time.new(2017,02,21, 12,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/Jeremy_Cowart.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">See Like an Artist: How to Shoot Extraordinary Photos in Ordinary Situations</h4>
			<p>
				presented by Jeremy Cowart. <br/> Key topics: Creativity & Composition
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="http://shop.ultimate-bundles.com/upb2017/webinar?content=jeremy_cowart" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
<% if Time.now.to_i < Time.new(2017,02,21, 20,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/Katelyn_James.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">How to Avoid 5 Marketing Mistakes that Lead to being Burnt Out and Broke</h4>
			<p>
				presented by Katelyn James. <br/> Key topic: Business
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="https://shop.ultimate-bundles.com/upb2017/webinar?content=katelyn_james" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
<% if Time.now.to_i < Time.new(2017,02,15, 20,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/David_Molnar_small.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">3 Simple Steps to Demystify Your DSLR</h4>
			<p>
				presented by David Molnar. <br/> Key topic: Camera Fundamentals
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="https://shop.ultimate-bundles.com/upb2017/webinar?content=david_molnar_demystify" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
<% if Time.now.to_i < Time.new(2017,02,16, 20,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/Zach_and_Jody_Gray.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">5 Steps to Bigger Sales</h4>
			<p>
				presented by Zach and Jody Gray. <br/> Key topic: Business
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="https://shop.ultimate-bundles.com/upb2017/webinar?content=zach_and_jody_gray" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
<% if Time.now.to_i < Time.new(2017,02,20, 13,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/David_Molnar_small.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">3 Editing Secrets Every Photographer Should Know</h4>
			<p>
				presented by David Molnar. <br/> Key topic: Editing
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="https://shop.ultimate-bundles.com/upb2017/webinar?content=david_molnar_editing" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
<% if Time.now.to_i < Time.new(2017,02,20, 20,00,00, "-05:00").to_i %>
	<div class="row webinars__webinar">
		<div class="col-sm-2">
			<%= image_tag "users/Kyle_Shultz.png", :class => "img-responsive img-center" %>
		</div>
		<div class="col-sm-6 text-sm-max-center">
			<h4 class="clear-margin-top">Camera Essentials/ Composition/Lighting TITLE OF WEBINAR </h4>
			<p>
				presented by Kyle Schultz. <br/> Key topics: Camera Fundamentals, Composition & Beginner Lighting
			</p>
		</div>
		<div class="col-sm-4 text-sm-max-center">
			<a href="https://shop.ultimate-bundles.com/upb2017/webinar?content=kyle_schultz" target="_blank">
				<button class="button btn btn-small">YES, I WANT TO ATTEND!<i class="fa fa-flash"></i></button>
			</a>
		</div>
	</div>
<% end %>
