<div class="hero">
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-2 col-md-7 col-md-offset-5 col-xs-12">

      <% if Rails.application.config.ended %>
        <div class="ended">
          <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
          <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
          <p class="go-to brandon">In the meantime, head to  <a href="http://www.ultimate-bundles.com/">WWW.ULTIMATE-BUNDLES.COM</a></p>
          <p class="again brandon">Thank You Again!</p>
        </div>
      <% elsif @ip_limit %>

        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="ended">
            <p class="thanks">We’re sorry, but only 1 email sign-up is allowed per IP address / household.</p>

            <p>To view your number of referrals, make sure to use the same browser on the same device that you used to sign up originally.</p>

            <p>If you’ve cleared your browser history or cache, you will no longer be able to see the number of referrals you’ve received, but you will still receive credit for them, and any corresponding rewards that you’ve earned will be sent by the end of January, 2015.</p>

            <p>To continue to share your code and receive rewards, you can still access your referral code from the email you received when you first signed up, entitled: "Your 4-steps mini-course”</p>

            <p>We’re excited to share the Ultimate DIY Bundle with you, and hope that you find it as life changing as we have.  We’ll send you more information about it very shortly, so be sure to look out for those emails.</p>

            <p>Thanks so much for your interest!</p>
          </div>
        </div>
      <% else %>
        <%= image_tag "homemaker/3_simple_steps.png", class: "signup-header-image img-responsive" %>
        <div class="title">to Stress-Free Homemaking!</div>
        <div class="subtitle">&mdash;&mdash; Mini Video-eCourse &mdash;&mdash;</div>
        <div class="byline">Get Access Right Now!</div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

          <%= form_for @user, :html => {  :role => 'form' }, :url => { :action => "create" } do |f| %>
            <div class="form-group">
              <%= f.text_field :name, :placeholder => "Your First Name", :class => "form-control input-lg", :style => "width: 100%; font-size: 120%" %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, :placeholder => "Your Email", :class => "form-control input-lg", :style => "width: 100%; font-size: 120%" %>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-block" id="signup-btn" name="commit" type="submit">Yes, Give Me Access Right Now </button>
            </div>
          <% end %>
        </div>
        <div class="col-sm-1">
          <%= image_tag "homemaker/arrow.png", class: "orange-arrow hidden-xs" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <p class="fine-print" style="text-align: center;"><em>* 1 sign-up per household</em></p>
  </div>
</div>

<%= render 'layouts/footer' %>



<!-- Facebook Conversion Code for UHomB RAF Front Page -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6028502362323', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028502362323&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- improvely -->
<script type="text/javascript">
var im_domain = 'tcs';
var im_project_id = 4;
(function(e,t){window._improvely=[];var n=e.getElementsByTagName("script")[0];var r=e.createElement("script");r.type="text/javascript";r.src="https://"+im_domain+".iljmp.com/improvely.js";r.async=true;n.parentNode.insertBefore(r,n);if(typeof t.init=="undefined"){t.init=function(e,t){window._improvely.push(["init",e,t])};t.goal=function(e){window._improvely.push(["goal",e])};t.conversion=function(e){window._improvely.push(["conversion",e])};t.label=function(e){window._improvely.push(["label",e])}}window.improvely=t;t.init(im_domain,im_project_id)})(document,window.improvely||[])
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
<!-- End Google Tag Manager -->

<!-- Infusionsoft -->
<script type="text/javascript" src="https://us154.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=b3ad10688513d9a38dc6aecf83c51f41"></script>


