<div class="hero">
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-6 col-xs-12">

      <% if Rails.application.config.ended %>
        <div class="ended">
          <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
          <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
          <p class="go-to brandon">In the meantime, head to  <a href="http://www.ultimate-bundles.com/">WWW.ULTIMATE-BUNDLES.COM</a></p>
          <p class="again brandon">Thank You Again!</p>
        </div>
      <% elsif @ip_limit %>

        <div class="col-lg-10 col-lg-offset-2 col-md-12">
          <div class="ended">
            <p class="thanks">We’re sorry, but only 1 email sign-up is allowed per IP address / household.</p>

            <p>To view your number of referrals, make sure to use the same browser on the same device that you used to sign up originally.</p>

            <p>Thanks so much for your interest!</p>
          </div>
        </div>
      <% else %>
        <div class="header-box">Presented by Ultimate Bundles and Spark Health</div>
        <%= image_tag "home/healthy-headline.png", class: "signup-header-image img-responsive" %>
        <div class="audio-course-box"><%= image_tag "home/headphones.png" %> Mini Audio eCourse</div>
        <div class="subtitle">Get access right now!</div>
        <div class="byline">Get free instant access to “The 4 Essential Habits of Healthy Families”, our newsletter, and exclusive offers just for you!</div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">

          <%= form_for @user, :html => {  :role => 'form' }, :url => { :action => "create" } do |f| %>
            <div class="form-group">
              <%= f.text_field :name, :placeholder => "Your First Name", :class => "form-control input-lg", :style => "width: 100%; font-size: 120%" %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, :placeholder => "Your Email", :class => "form-control input-lg", :style => "width: 100%; font-size: 120%" %>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-block" id="signup-btn" name="commit" type="submit">Yes, Give Me Access Right Now </button>
            </div>
          <% end %>
        </div>
        <div class="col-sm-1">
          <%= image_tag "homemaker/arrow.png", class: "orange-arrow hidden-xs" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <p class="fine-print" style="text-align: center;"><em>* 1 sign-up per household</em></p>
  </div>
</div>

<%= render 'layouts/footer' %>


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
<!-- End Google Tag Manager —>


