<!--SECTION: HEADER-->
<section class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= image_tag "users/header.png", :class => "img-responsive" %>
			</div>
		</div>
	</div>
</section>

<!--SECTION: ASSESSMENT-->
<section class="assessment container">
	<div class="row">
		<div class="col-sm-5">
			<h3 class="clear-margin-top"><span class="orange">Take the FREE </span>Photography Strengths Assessment!</h3>
			<p>Identify your strengths & discover how you can grow as a photographer with this 5-minute online assessment!</p>
			<a href="#optin"><button class="button btn">GET INSTANT ACCESS<i class="fa fa-flash"></i></button></a>
		</div>
		<div class="col-sm-7">
			<div class="video-responsive">
				<iframe src="https://player.vimeo.com/video/202049878?autoplay=true" width="640" height="360" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</section>

<!--SECTION: DISCOVER-->
<section class="discover container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center" id="optin">
				<h2>Discover your unique Photography Strengths now!</h2>
			</div>
			<div class="col-sm-12 text-center">
				<%= image_tag "users/ass_icon.png", :class => "center-block"  %>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p>
					The FREE Photography Strengths Assessment tool helps you clarify where you naturally excel as a photographer and where you may need to improve, and points you in the direction of where to next based on your unique personal assessment.
				</p>
				<p>
					Enter your email below for instant access and get ready to take your photography skills to the next level…
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<div class="discover__cta">

				<%= form_for @user, :html => {  :role => 'form' }, :url => { :action => "create" } do |f| %>

					<div class="form-group">
						<%= f.text_field :name, :placeholder => "NAME", :class => "form-control" %>
					</div>

					<div class="form-group">
						<%= f.text_field :email, :placeholder => "YOUR BEST EMAIL", :class => "form-control" %>
					</div>

					<div class="form-group">
						<button class="button btn--big btn" id="signup-btn" name="commit" type="submit">GET INSTANT ACCESS<i class="fa fa-lock"></i></button>
					</div>

				<% end %>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<small><i class="fa fa-lock"></i>Your information is 100% secure. We hate spam, too. You’ll only receive your Photography Strengths Assessment results and updates about our newest photography resources. You can unsubscribe at any time.</small>
			</div>
		</div>
	</div>
</section>

<!--SECTION: DAVID-->
<section class="david container-fluid">
	<div class="row david__contents">
		<div class="col-sm-12">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="text-center white">A free tool from David Molnar and the  Ultimate Photography Bundle</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center">
						<%= image_tag "users/David_Molnar.png", :class => "img-responsive, img-center" %>
						<p class="white text-left">
							David Molnar is a celebrity and advertising photographer, believer and family man. His work has been seen on over 28 million Pepsi and Mountain Dew cans, in People Magazine, on American Idol, and in The New York Times. Feeling so blessed to be realizing
							his dreams, David is now helping tens of thousands of photographers pursue THEIR dreams by creating world-class photo education, inspiration & resources.
						</p>
					</div>
					<div class="col-sm-6 text-center">
						<%= image_tag "users/UPB17_Logo.png", :class => "img-responsive, img-center" %>
						<p class="white text-left">
							The Ultimate Photography Bundle is the premier package of world-class photography education, inspiration, editing, and business resources from over 40 top professional photographers. Coming soon at an unbelievable price for 6 days only. Watch your email
							to find out when it’s available!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
