<div class="hero">
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-2 col-md-7 col-md-offset-5 col-xs-12">

      <%= image_tag "homemaker/thank_you.png", class: "refer-header-image img-responsive" %>
      <p class="refer-header">Access your course now. But first...</p>
      <p class="refer-subheader">THINK YOUR FRIENDS COULD<br> USE LESS STRESS, TOO?</p>
      <p class="refer-byline">INVITE FRIENDS & EARN REWARDS</p>

      <p class="share-text">Share your unique link via email, Facebook or Twitter<br>
        and earn rewards for each friend who signs up.</p>

      <%= image_tag "homemaker/white_arrow.png", style: "position:relative; left: 14%; top:-30px; float: left;", class: "hidden-sm hidden-xs"%>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
          <div class="share-box">
            <a href="http://www.facebook.com/sharer/sharer.php?u=http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"><%= image_tag "homemaker/facebook.png" %></a>
            &nbsp;&nbsp;
            <a href="http://twitter.com/share?url=http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape('I just rediscovered my inner creative genius. Wanna join me? Plus, earn 1yr of Better Homes and Gardens for FREE.') %>" class="twit" target="_blank"><%= image_tag "homemaker/twitter.png" %></a>
            &nbsp;&nbsp;
            <a href="mailto:?subject=You%20need%20to%20check%20this%20out&body=Hi,%0D%0A%0D%0AI just signed up to take the 4-step creativity mini-course.%0D%0A%0D%0AI’d love it if you’d join me!%0D%0A%0D%0AIt’ll help me tap into my creative side again. Plus I can easily get a free 1-year subscription to Better Homes and Gardens Magazine, or even a free Ultimate DIY Bundle (over $1,000 value) when it’s available, and you can too. Go here to find out more http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>%0D%0A%0D%0ABut, you’ll need to act fast, because the mini-course and the awesome rewards are only available until 11:59 PM on Friday, March 27th" class="email">
              <%= image_tag "homemaker/email.png" %>
            </a>
          </div>
        </div>
        <div class="col-xs-5 col-sm-4">
          <%= link_to "Take Me to the Course", videos_url, class: "btn course-button" %>
        </div>
      </div>
    </div>
  </div>
</div>


<%
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }
 %>

<div class="col-md-10 col-md-offset-1 col-xs-12">
  <p class="callout">Here's How It Works:</p>
  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <ul class="products clearfix">
        <li class="title"><p class="friends">Friends Joined</p><p class="rewards">Rewards</p></li>
        <% stops.each do |stop| %>
          <li class="product <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'four' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div>
              <div class="sep"></div>
              <p><%= stop["html"].html_safe %></p>

              <div class="reward">
                <%= image_tag stop["image"], height: '254' %>
              </div>
          </li>
        <% end %>
      </ul>

      <div class="progress">
        <div class="mover">
          <div class="bar clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1 col-xs-12">
  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <%
        words = 'friend has'
        if referrals_count > 1
          words = 'friends have'
        end
      %>

      <% if referrals_count == 0 %>
        <p class="place"><span>No</span> friends have joined...Yet!</p>
      <% else %>
        <p class="place"><span><%= referrals_count %></span> <%= words %> joined</p>
      <% end %>
      <p class="check">Keep checking</p>

      <p class="fine-print"><em>* 1 sign-up per household</em></p>


    </div>
  </div>
</div>

<%= render 'layouts/footer' %>


<script>
function selectText(containerid) {
    if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select();
    } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
    }
}
</script>

<!-- Facebook Conversion Code for UHomB RAF Signed Up -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6028502389123', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028502389123&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- improvely -->
<script type="text/javascript">
var im_domain = 'tcs';
var im_project_id = 4;
(function(e,t){window._improvely=[];var n=e.getElementsByTagName("script")[0];var r=e.createElement("script");r.type="text/javascript";r.src="https://"+im_domain+".iljmp.com/improvely.js";r.async=true;n.parentNode.insertBefore(r,n);if(typeof t.init=="undefined"){t.init=function(e,t){window._improvely.push(["init",e,t])};t.goal=function(e){window._improvely.push(["goal",e])};t.conversion=function(e){window._improvely.push(["conversion",e])};t.label=function(e){window._improvely.push(["label",e])}}window.improvely=t;t.init(im_domain,im_project_id)})(document,window.improvely||[])
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
<!-- End Google Tag Manager -->

<!-- Infusionsoft -->
<script type="text/javascript" src="https://us154.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=b3ad10688513d9a38dc6aecf83c51f41"></script>