<div class="header">
  <div class="content">
    <div class="col-xs-12">
      <p class="logo brandon">THANK YOU! <span style="text-transform: none;" class="hidden-xs">Watch your Inbox for your free gift</span></p>
    </div>
  </div>
</div>

<div class="hero-refer">

</div>

<div class="page-content">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="share-wrap">
      <p class="why brandon">Don't leave your friends behind</p>
      <p class="title brandon">INVITE FRIENDS & Earn Rewards</p>
      <p class="subtitle brandon">Share your unique link via email, Facebook or Twitter and earn rewards for each friend who signs up.</p>
      <div id="sharable" class="copy-link brandon" onclick="selectText('sharable')">http://4stepcreativity.com/?ref=<%= @user.referral_code %></div>

      <% twitter_message = "I just rediscovered my inner creative genius. Wanna join me? Plus, earn 1yr of Better Homes and Gardens for FREE." %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
        <div class="sep"></div>
        <a href="mailto:?subject=You%20need%20to%20check%20this%20out&body=Hi,%0D%0A%0D%0AI just signed up to take the 4-step creativity challenge.%0D%0A%0D%0AI’d love it if you’d join me!%0D%0A%0D%0APlus I can easily get a free 1-year subscription to Better Homes and Gardens Magazine, or even a free Ultimate DIY Bundle (over $1,000 value) when it’s available on January 21st. Go here to find out more:  http://4stepcreativity.com/?ref=<%= CGI::escape(@user.referral_code) %>" class="email"></a>
      </div>
    </div>
  </div>
</div>

<%
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }
 %>

<div class="col-md-10 col-md-offset-1 col-xs-12">
  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <p class="callout brandon">Here's How It Works:</p>
      <ul class="products clearfix">
        <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Rewards</p></li>
        <% stops.each do |stop| %>
          <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'four' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div>
              <div class="sep"></div>
              <p><%= stop["html"].html_safe %></p>

              <div class="reward">
                <%= image_tag stop["image"], height: '254' %>
              </div>
          </li>
        <% end %>
      </ul>

      <div class="progress">
        <div class="mover">
          <div class="bar clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1 col-xs-12">
  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <%
        words = ''
        if referrals_count == 1
          words = 'friend has'
        elsif
          words = 'friends have'
        end
      %>

      <% if referrals_count == 0 %>
        <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
      <% else %>
        <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
      <% end %>
      <p class="check brandon">Keep checking</p>

      <p class="fine-print brandon"><em>* 1 sign-up per household</em></p>
      
      <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
  </div>
</div>

<script>
function selectText(containerid) {
    if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select();
    } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
    }
}
</script>

<!-- Facebook Conversion Code for Signed up RAF -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6023891431323', {'value':'0.00','currency':'CAD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023891431323&amp;cd[value]=0.00&amp;cd[currency]=CAD&amp;noscript=1" /></noscript>

<script type="text/javascript">
improvely.label('<%= @user.email %>');
</script>

<!-- FB RET -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '733714490045875']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=733714490045875&amp;ev=PixelInitialized" /></noscript>
<!-- END FB RET -->
</script>