<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="header">
  <div class="container">
    <div class="col-sm-6 col-xs-12">
      <%= image_tag "videos/header_logo.png", class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="navigation">
        <li><%= link_to "Video 1", "/videos/101" %></li>

        <% if @video_id >= 102 %>
          <li><%= link_to "Video 2", "/videos/102" %></li>
        <% else %>
          <li><span class="disabled">Video 2</span></li>
        <% end %>

        <% if @video_id >= 103 %>
          <li><%= link_to "Video 3", "/videos/103" %></li>
        <% else %>
          <li><span class="disabled">Video 3</span></li>
        <% end %>

        <% if @video_id >= 104 %>
          <li><%= link_to "Video 4", "/videos/104"  %></li>
        <% else %>
          <li><span class="disabled">Video 4</span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="background-color: #ffffff;">
  <div class="row">
    <div class="col-xs-12">
      <% if @video_id == 101 %>
        <p class="title"><strong>Video 1:</strong> The Secret to Stress-Free Laundry</p>
        <p class="subtitle">Never Get Behind Again</p>
      <% elsif @video_id == 102 %>
        <p class="title"><strong>Video 2:</strong> The Secret to a Sparkling Clean Kitchen</p>
        <p class="subtitle">Start the Day Fresh</p>
      <% elsif @video_id == 103 %>
        <p class="title"><strong>Video 3:</strong> The Secret to Super Simple Meal Planning</p>
        <p class="subtitle">Avoid the 5 O'Clock Scramble</p>
      <% elsif @video_id == 104 %>
        <p class="title"><strong>Video 4:</strong> The Secret to a Speedy Nighttime Routine</p>
        <p class="subtitle">Set Yourself Up for Success</p>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12 col-sm-9">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/<%= video_url(@video_id) %>?autoplay=1&title=0&byline=0&portrait=0" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <br>
      <% if @video_id == 101 %>
        <p class="subtitle"><a href="http://2015uhomb-4steps.s3.amazonaws.com/4%20Simple%20Steps%20to%20Stress-Free%20Homemaking_Step1.pdf?utm_source=stressfreehomemaking&utm_medium=website&utm_content=step1&utm_campaign=uhomb2015" target="_blank">Download the PDF printable for Video #1</a></p>
        <p class="subtitle"><em>Video #2 will be available soon! Watch your email!</em></p>
      <% elsif @video_id == 102 %>
        <p class="subtitle"><a href="http://2015uhomb-4steps.s3.amazonaws.com/4%20Simple%20Steps%20to%20Stress-Free%20Homemaking_Step2.pdf?utm_source=stressfreehomemaking&utm_medium=website&utm_content=step2&utm_campaign=uhomb2015" target="_blank">Download the PDF printable for Video #2</a></p>
        <p class="subtitle"><em>Video #3 will be available soon! Watch your email!</em></p>
      <% elsif @video_id == 103 %>
        <p class="subtitle"><a href="http://2015uhomb-4steps.s3.amazonaws.com/4%20Simple%20Steps%20to%20Stress-Free%20Homemaking_Step3.pdf?utm_source=stressfreehomemaking&utm_medium=website&utm_content=step3&utm_campaign=uhomb2015" target="_blank">Download the PDF printable for Video #3</a></p>      
        <p class="subtitle"><em>Video #4 will be available soon! Watch your email!</em></p>
      <% elsif @video_id == 104 %>
        <p class="subtitle"><a href="http://2015uhomb-4steps.s3.amazonaws.com/4%20Simple%20Steps%20to%20Stress-Free%20Homemaking_Step4.pdf?utm_source=stressfreehomemaking&utm_medium=website&utm_content=step4&utm_campaign=uhomb2015" target="_blank">Download the PDF printable for Video #4</a></p>
        <p class="subtitle"><a href="http://2015uhomb-4steps.s3.amazonaws.com/4%20Simple%20Steps%20to%20Stress-Free%20Homemaking.zip?utm_source=stressfreehomemaking&utm_medium=website&utm_content=steps1-4&utm_campaign=uhomb2015" target="_blank">Download a .zip of all 4 PDF printables</a></p> 
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= render "thumbnails_#{@video_id}" if @video_id %>
      <% unless @user.nil? %>
        <div class="share-box" class="hidden-xs hidden-sm hidden-md">
          <div class="fb-share-button" data-href="http://stressfreehomemaking.com/?ref=<%= CGI::escape(@user.referral_code) %>" data-layout="button"></div>
          &nbsp;&nbsp;
          <a class="twitter-share-button"
            href="https://twitter.com/share" data-count="none" data-url="http://stressfreehomemaking.com/?ref=<%= CGI::escape(@user.referral_code) %>" data-text="I’m giving homemaking stress the boot. Wanna join me?">
          Tweet
          </a>
          <script>
          window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
          </script>
          <br>
            <p>Share and get bonuses!<br>
          You currently have...<br>
            <span class="points"><%= @user.referrals.count %> points</span></p>
        </div>
      <% end %>
    </div>
  </div>

  <% if @video_id == 104 %>
    <div id="buy-now-container" style="display: none;">
      <div class="row">
        <div class="col-xs-12">
          <p class="title">Get the Ultimate Homemaking Bundle</p>
          <p class="subtitle">Start Feathering Your Nest Today!</p>
          <button class="buy-button">Buy Now</button>
          <%= image_tag "videos/nest.png", class: "nest-img" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="title">Readers Like You</p>

          <p class="quote">
            "The bundle is filled with incredible content and financially is a steal! The bonuses are like icing on the cake and are always so much fun to redeem. I’ve also been introduced to new authors and fabulous companies that line up with my values. Thank you for providing such a wonderful product"
          </p>
          <p class="citation">LEEANN T.</p>
          <p class="quote">
            "These bundles are amazing. You can practically guarantee you will find plenty of resources that will be just what you have been looking for. In my opinion, they are definitely worth it."
          </p>
          <p class="citation">ANGELA | GREENVILLE, TX</p>
          <p class="quote">
            "The Ultimate Bundles are well worth the money – plus some! The materials are high quality and the topics are broad so as to meet a lot of needs. Thanks and I’m looking forward to future ones! P.S. – The extras are just as wonderful!"
          </p>
          <p class="citation">ANI P</p>
          <p class="quote">
            "I have so far purchased three Ultimate Bundles and they all have been excellent. The content is relevant, the authors are concise, humble, and generous, and the philosophy that permeates so many of the books has made self-improvement fun and easy."
          </p>
          <p class="citation">KATHRYN T. | MIDDLETON, TN</p>
          <p class="quote">
            "What a wonderful blessing to have purchased the bundle. The bonus offers alone are worth the price of the bundle. So many of my favorite bloggers contributed and I was able to find new bloggers who share my interests and offer useful advice and recipes."
          </p>
          <p class="citation">SOCCY R. | LAGOS, NIGERIA</p>
          
          <a href="http://ultimate-bundles.com/homemaking-bundle-2015/" class="big-link">See what hundreds of other homemakers are saying...</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>

<% if @video_id == 104 %>
  <script>
    setTimeout(function() {
      $('#buy-now-container').slideDown();
    }, 460000);
  </script>
<% end %>

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".video-container").fitVids();
  });
</script>
  
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
<!-- End Google Tag Manager -->

<!-- Infusionsoft -->
<script type="text/javascript" src="https://us154.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=b3ad10688513d9a38dc6aecf83c51f41"></script>

