<div class="header">
  <div class="container">
    <div class="col-sm-6 col-xs-12">
      <%= image_tag "videos/header_logo.png", class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="navigation">
        <li><%= link_to "Video 1", "#" %></li>
        <li><%= link_to "Video 2", "#" %></li>
        <li><%= link_to "Video 3", "#" %></li>
        <li><%= link_to "Video 4", "#" %></li>
      </ul>
    </div>
  </div>
</div>


<div class="container" style="background-color: #ffffff;">
  <div class="row">
    <div class="col-xs-12">
      <p class="title"><strong>Video 1:</strong> Cool Video Title Here</p>
      <p class="subtitle">Maybe a Subtitle Can Go Down Here</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/123675247?title=0&byline=0&portrait=0" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "thumbnails_#{@video_id}" if @video_id %>
      <div class="share-box">
        <p>Share with others and<br> get bonuses!<br><br>
        You currently have...<br>
          <span class="points">5 points</span></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <p class="title">Get the Ultimate Homemaking Bundle</p>
      <p class="subtitle">Start Feathering Your Nest Today!</p>
      <% if @video_id == 104 %>
        <button class="buy-button" id="buy-now-btn" style="display: none;">Buy Now</button>
      <% end %>
      <%= image_tag "videos/nest.png", class: "nest-img" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="title">Readers Like You</p>

      <p class="quote">
        Just wanted to offer up my extreme gratitude to you as well as all the amazing contributors of this bundle. I feel so blessed to be able to benefit from all of this knowledge/wisdom/experience. I'm LOVING the bundle already!”
      </p>
      <p class="citation">HAPPY CUSTOMER—GAYLA WESTBROOK</p>
      <p class="quote">
        It's an amazing bundle! It has helped me so much already! Can't wait to see how myself and family change! Thank you for offering this. It really was an answered prayer!”
      </p>
      <p class="citation">HAPPY CUSTOMER—KATRINA BROOKS</p>
      <p class="quote">
        I bought one of your bundles and I still use the recipe ebooks every single week!”
      </p>
      <p class="citation">HAPPY CUSTOMER—SARAH NICHOLS</p>
      <p class="quote">
        I can't tell you how happy this makes me. I love your bundles! Please keep them coming!”
      </p>
      <p class="citation">HAPPY CUSTOMER—DIANA EDLIN</p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<% if @video_id == 104 %>
  <script>
    setTimeout(function() {
      $('#buy-now-btn').show();
    }, 9000);
  </script>
<% end %>

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".video-container").fitVids();
  });
</script>