<div class="video-wrapper">
  <%= link_to "/videos/101" do %>
    <%= image_tag "videos/video1_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div class="video-wrapper">
  <%= link_to "/videos/102" do %>
    <%= image_tag "videos/video2_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div class="video-wrapper">
  <%= link_to "/videos/103" do %>
    <%= image_tag "videos/video3_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>