<div class="video-wrapper">
  <%= link_to "/lessons/101" do %>
    <%= image_tag "lessons/habit_1_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div class="video-wrapper">
  <%= link_to "/lessons/102" do %>
    <%= image_tag "lessons/habit_2_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div class="video-wrapper">
  <%= image_tag "lessons/habit_4_disabled.jpg", class: "video-thumbnail" %>
</div>
