<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="header">
  <div class="container">
    <div class="col-sm-6 col-xs-12">
      <%= image_tag "lessons/4habits_header.png", class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="navigation">
        <li><%= link_to "Habit 1", "/lessons/101" %></li>

        <% if @lesson_id >= 102 %>
          <li><%= link_to "Habit 2", "/lessons/102" %></li>
        <% else %>
          <li><span class="disabled">Habit 2</span></li>
        <% end %>

        <% if @lesson_id >= 103 %>
          <li><%= link_to "Habit 3", "/lessons/103" %></li>
        <% else %>
          <li><span class="disabled">Habit 3</span></li>
        <% end %>

        <% if @lesson_id >= 104 %>
          <li><%= link_to "Habit 4", "/lessons/104"  %></li>
        <% else %>
          <li><span class="disabled">Habit 4</span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="background-color: #ffffff;">
  <div class="row">
    <div class="col-xs-12">
      <% if @lesson_id == 101 %>
        <p class="title"><strong>Habit 1:</strong> Nurture your best self</p>
        <p class="subtitle">with Heather Dessinger</p>
      <% elsif @lesson_id == 102 %>
        <p class="title"><strong>Habit 2:</strong> Keep your family fit</p>
        <p class="subtitle">with Crystal Paine</p>
      <% elsif @lesson_id == 103 %>
        <p class="title"><strong>Habit 3:</strong> Eat more homemade meals around the table</p>
        <p class="subtitle">with Katie Kimball</p>
      <% elsif @lesson_id == 104 %>
        <p class="title"><strong>Habit 4:</strong> Reach for natural remedies with confidence</p>
        <p class="subtitle">with Katie - Wellness Mama</p>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12 col-sm-9">
      <% if @lesson_id == 101 %>
        <%= image_tag "lessons/habit_1.jpg", class: "img-responsive center-block" %>
        <br>
        <div class="audio-player">
          <audio src="http://2015uhlb-4habits.s3.amazonaws.com/habit1.mp3" preload="auto" />
        </div>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/download.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit1.mp3", target: "_blank" %> 
          <%= link_to "Download MP3", "http://2015uhlb-4habits.s3.amazonaws.com/habit1.mp3", target: "_blank" %>
        </p>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/pdf-icon.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit1-nurture-self-4essentialhabitsofhealthyfamilies.pdf" %> 
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit1-nurture-self-4essentialhabitsofhealthyfamilies.pdf" target="_blank">Download the PDF printable for Habit #1</a></p>
        <p class="subtitle">
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit1-nurture-self-4essentialhabitsofhealthyfamilies.docx" target="_blank">Download the Transcript</a></p>
        <p class="subtitle"><em>Habit #2 will be available soon! Watch your email!</em></p>

      <% elsif @lesson_id == 102 %>

        <%= image_tag "lessons/habit_2.jpg", class: "img-responsive center-block" %>
        <br>
        <div class="audio-player">
          <audio src="http://2015uhlb-4habits.s3.amazonaws.com/habit2.mp3" preload="auto" />
        </div>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/download.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit2.mp3", target: "_blank" %> 
          <%= link_to "Download MP3", "http://2015uhlb-4habits.s3.amazonaws.com/habit2.mp3", target: "_blank" %>
        </p>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/pdf-icon.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit2-get-fit-4essentialhabitsofhealthyfamilies.pdf" %> 
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit2-get-fit-4essentialhabitsofhealthyfamilies.pdf" target="_blank">Download the PDF printable for Habit #2</a></p>
        <p class="subtitle">
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit2-get-fit-4essentialhabitsofhealthyfamilies.docx" target="_blank">Download the Transcript</a></p>
        <p class="subtitle"><em>Habit #3 will be available soon! Watch your email!</em></p>

      <% elsif @lesson_id == 103 %>

        <%= image_tag "lessons/habit_3.jpg", class: "img-responsive center-block" %>
        <br>
        <div class="audio-player">
          <audio src="http://2015uhlb-4habits.s3.amazonaws.com/habit3.mp3" preload="auto" />
        </div>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/download.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit3.mp3", target: "_blank" %> 
          <%= link_to "Download MP3", "http://2015uhlb-4habits.s3.amazonaws.com/habit3.mp3", target: "_blank" %>
        </p>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/pdf-icon.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit3-homemade-meals-4essentialhabitsofhealthyfamilies.pdf" %> 
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit3-homemade-meals-4essentialhabitsofhealthyfamilies.pdf" target="_blank">Download the PDF printable for Habit #3</a></p>
        <p class="subtitle">
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit3-homemade-meals-4essentialhabitsofhealthyfamilies.docx" target="_blank">Download the Transcript</a></p>
        <p class="subtitle"><em>Habit #4 will be available soon! Watch your email!</em></p>

      <% elsif @lesson_id == 104 %>

        <%= image_tag "lessons/habit_4.jpg", class: "img-responsive center-block" %>
        <br>
        <div class="audio-player">
          <audio src="http://2015uhlb-4habits.s3.amazonaws.com/habit4.mp3" preload="auto" />
        </div>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/download.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit4.mp3", target: "_blank" %> 
          <%= link_to "Download MP3", "http://2015uhlb-4habits.s3.amazonaws.com/habit4.mp3", target: "_blank" %>
        </p>
        <p class="subtitle">
          <%= link_to (image_tag "lessons/pdf-icon.png"), "http://2015uhlb-4habits.s3.amazonaws.com/habit4-natural-remedies-4essentialhabitsofhealthyfamilies.pdf" %> 
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit4-natural-remedies-4essentialhabitsofhealthyfamilies.pdf" target="_blank">Download the PDF printable for Habit #4</a></p>
        <p class="subtitle">
          <a href="http://2015uhlb-4habits.s3.amazonaws.com/habit4-natural-remedies-4essentialhabitsofhealthyfamilies.docx" target="_blank">Download the Transcript</a></p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= render "thumbnails_#{@lesson_id}" if @lesson_id %>
    </div>

  <% if @lesson_id == 104 %>
    <div id="buy-now-container" style="display: none;">
      <div class="row">
        <div class="col-xs-12">
          <p class="title">Get the Ultimate Homemaking Bundle</p>
          <p class="subtitle">Start Feathering Your Nest Today!</p>
          <button class="buy-button">Buy Now</button>
          <%= image_tag "videos/nest.png", class: "nest-img" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="title">Readers Like You</p>

          <p class="quote">
            "The bundle is filled with incredible content and financially is a steal! The bonuses are like icing on the cake and are always so much fun to redeem. I’ve also been introduced to new authors and fabulous companies that line up with my values. Thank you for providing such a wonderful product"
          </p>
          <p class="citation">LEEANN T.</p>
          <p class="quote">
            "These bundles are amazing. You can practically guarantee you will find plenty of resources that will be just what you have been looking for. In my opinion, they are definitely worth it."
          </p>
          <p class="citation">ANGELA | GREENVILLE, TX</p>
          <p class="quote">
            "The Ultimate Bundles are well worth the money – plus some! The materials are high quality and the topics are broad so as to meet a lot of needs. Thanks and I’m looking forward to future ones! P.S. – The extras are just as wonderful!"
          </p>
          <p class="citation">ANI P</p>
          <p class="quote">
            "I have so far purchased three Ultimate Bundles and they all have been excellent. The content is relevant, the authors are concise, humble, and generous, and the philosophy that permeates so many of the books has made self-improvement fun and easy."
          </p>
          <p class="citation">KATHRYN T. | MIDDLETON, TN</p>
          <p class="quote">
            "What a wonderful blessing to have purchased the bundle. The bonus offers alone are worth the price of the bundle. So many of my favorite bloggers contributed and I was able to find new bloggers who share my interests and offer useful advice and recipes."
          </p>
          <p class="citation">SOCCY R. | LAGOS, NIGERIA</p>
          
          <a href="http://ultimate-bundles.com/homemaking-bundle-2015/" class="big-link">See what hundreds of other homemakers are saying...</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>

<% if @lesson_id == 104 %>
  <script>
    setTimeout(function() {
      $('#buy-now-container').slideDown();
    }, 460000);
  </script>
<% end %>

<script>
  $(document).ready(function(){
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  });
  
</script>
  
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
<!-- End Google Tag Manager —>

