<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>The 4 Essential Habits of Healthy Families</title>
  <link rel="icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">

  <meta property="og:title" content="The 4 Essential Habits of Healthy Families."/>
  <meta property="og:description" content="The 4 Essential Habits of Healthy Families."/>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/audiojs/audio.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

</body>
</html>
