<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KLCQR3');</script>
	<!-- End Google Tag Manager -->

  <title>The Photography Strengths Assessment</title>
  <link rel="icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">

  <meta property="og:title" content="The Photography Strengths Assessment"/>
  <meta property="og:description" content="The Photography Strengths Assessment"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLCQR3"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<%= yield %>

<%= render "layouts/footer" %>

<%= javascript_include_tag "application" %>

</body>
</html>
