<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Rediscover Your Creative Side &ndash; Tell Friends, Earn Rewards</title>
  <link rel="icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.jpg') %>" type="image/x-icon">

  <meta property="og:title" content="Ultimate Bundles!"/>
  <meta property="og:description" content="Rediscover Your Creative Side. Tell your friends and earn rewards."/>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">


<%= yield %>

<!-- FB RET -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '733714490045875']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=733714490045875&amp;ev=PixelInitialized" /></noscript>
<!-- END FB RET -->
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44717729-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="https://us154.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=b3ad10688513d9a38dc6aecf83c51f41"></script>

</body>
</html>
